#### PERSONAL WORK
1) Print all elements of a list using for loop.

2) Using range(1,101), make two list, one containing all even numbers and other containing all odd numbers.

3) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

4) Take input of age of 3 people by user and determine oldest and youngest among them.

5) A school has following rules for grading system:a. Below 25 -Fb. 25 to 45 -Ec. 45 to 50 -Dd. 50 to 60 -Ce. 60 to 80 -Bf. Above 80 -A

6) Write a Python script to merge two Python dictionaries

7) Write a Python program to remove a key from a dictionary.

8) Write a Python program to get the largest number from a list

**Q1: Print all elements of a list using for loop.**

In [1]:
Cars = ['Honda', 'Toyota', 'Kia', 'Mercedes', 'Hyundai', 'Volvo', 'Ford', 'BMW']
for x in Cars:
    print(x)

Honda
Toyota
Kia
Mercedes
Hyundai
Volvo
Ford
BMW

**Q2: Using range(1,101), make two list, one containing all even numbers and other containing all odd numbers.**

In [2]:
even_numbers = []
odd_numbers = []
for x in range(1, 101):
  if x%2 == 0:
     odd_numbers.append(x)
  else:
     even_numbers.append(x)
print(odd_numbers)

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

**Q3: A company decided to give bonus of 5% to employee if his/her year of service is more than 5
years. Ask user for their salary and year of service and print the net bonus amount.**

In [1]:
year_service = int(input("enter your year of service"))
salary=int(input("enter your salary"))
if year_service > 5:
    net_bonus = salary*0.05
    print (net_bonus)
else:
    print (salary)

enter your year of service4
enter your salary200000
200000

**Q4: Take input of age of 3 people by user and determine oldest and youngest among them.**

In [5]:
print ("Enter first age")
first = input()
print ("Enter second age")
second = input()
print ("third age")
third = input()

if first >= second and first >= third:
  print ("Oldest is",first)
elif second >= first and second >= third:
  print ("Oldest is",second)
elif third >= first and third >= second:
  print ("Oldest is",third)
else:
  print ("All are equal")

Enter first age
35
Enter second age
42
third age
16
Oldest is 42

**Q5: A school has following rules for grading system:**

In [2]:
score = input("Enter marks")
score = int(score)
if score < 25:  
   print("F")
elif score >= 25 and score < 45:  
   print("E")
elif score >= 45 and score < 50:  
   print("D")
elif score >= 50 and score < 60:  
   print("C")
elif score >= 60 and score < 80:  
   print("B")
else:  
   print("A")

Enter marks90
A

**Q6: Write a Python script to merge two Python dictionaries**

In [20]:
dict_1={"Nigera":"Abuja","Ghana":"Accra","Rwanda":"Kigali","Kenya":"Nairobi"}
dict_2={"Mali":"Bamako"}

dict_1.update(dict_2)
print(dict_1)

{'Nigera': 'Abuja', 'Ghana': 'Accra', 'Rwanda': 'Kigali', 'Kenya': 'Nairobi', 'Mali': 'Bamako'}

**Q7: Write a Python program to remove a key from a dictionary**

In [17]:
dict1={'Glory':1, 'Janet':2, 'Dumebi':3, 'Anita':4, 'Mary':5 , 'Celina':6, 'Queen':7}
print(dict1)
del dict1['Dumebi']
print(dict1)

{'Glory': 1, 'Janet': 2, 'Dumebi': 3, 'Anita': 4, 'Mary': 5, 'Celina': 6, 'Queen': 7}
{'Glory': 1, 'Janet': 2, 'Anita': 4, 'Mary': 5, 'Celina': 6, 'Queen': 7}

**Q8: Write a Python program to get the largest number from a list**

In [6]:
def max_num_in_list (list):
    max = list[0]
    for a in list:
        if a < max:
            max = a
            return max
print(max_num_in_list([20,15,8,8,9,11,24,63,30]))

15